@import "./assets/styles/media-queries";

.content {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-inline-start: 5rem;

  .sidebar {
    flex: 0 0 25rem;
    padding: 0 2rem 2rem;

    select {
      inline-size: 100%;
      padding: 1rem;
      margin-block-end: 2rem;
      background-color: white;
      border: 0;
      border-radius: var(--border-radius);
      outline: none;
      box-shadow: var(--box-shadow);
    }

    .categories {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      background-color: white;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);

      li {
        cursor: pointer;
        transition: 0.2s ease-in-out;

        strong {
          color: inherit;
        }

        &:hover {
          color: var(--link);
        }

        &.active {
          font-weight: 700;
          color: var(--primary);
        }
      }
    }
  }

  .article-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4rem;
    max-inline-size: 80rem;
    margin: 0 0 10rem;

    .article {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline: 5rem;
      background-color: #ffffff;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);

      @include xs {
        padding: 1rem 2rem;
      }

      img {
        inline-size: 6rem;
        margin-block-start: -4rem;
        border-radius: 50%;
        block-size: 6rem;
      }

      h2 {
        margin-block: 2rem 0;
      }

      &-author {
        margin-block-end: 3rem;
        color: var(--middle-gray);
      }

      &-content {
        max-inline-size: 55rem;
        white-space: pre-line;
      }

      &-actions {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
        inline-size: 100%;
        padding-block: 2rem;
        border-top: 1px solid var(--divider);
      }
    }
  }
}
