.title {
  &-underline {
    padding-block-end: 2rem;
    border-block-end: 1px solid var(--divider);
  }
}

.btn {
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.2s;
  }

  &-primary {
    color: white;
    background-color: var(--primary);
  }

  &-secondary {
    color: var(--primary);
    background-color: white;
    border: 1px solid var(--primary);
  }

  &-danger {
    color: var(--error);
    background-color: white;
    border: 1px solid var(--error);
  }
}

.text {
  &-error {
    color: var(--error);
  }
}

.modal {
  min-inline-size: 30rem;
  padding: 5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  p {
    margin-block: 1rem 3rem;
  }

  .btn:first-of-type {
    margin-inline-end: 0.5rem;
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    block-size: 100dvh;
  }
}
