:root {
  --primary: #2ECC71 ;
  --dark: #27AE60;
  --accent: #2C3E50;
  --text: #333333;
  --link: #293DDE;
  --divider: #ECF0F1;
  --dark-gray: #324655;
  --font-family: 'Mulish', sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
