@use "variables";
@use "reset";
@use "classes";
@use "media-queries" as *;
@use "utils";
@use "base";

.container {
  min-height: 100dvh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto
}

header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: green;

  a {
    color: white;
    text-decoration: none;
  }

  .header-brand {
    font-size: 4rem;
    font-weight: 700;
  }

  .header-menu {
    position: relative;

    ul {
      display: flex;

      @include  xs {
        display: none;
      }

      li {
        .header-nav {
          font-size: 1.8rem;
          padding-inline: 1rem;
        }

        .active {
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }

    &-icon {
      display: none;
      font-size: 2em;
      color: #fff;

      @include  xs {
        display: block;
      }
    }
  }

  .mobile-menu {
    display: none;
    min-inline-size: 200px;
    position: absolute;
    inset-block-start: 100%;
    inset-inline-end: 0;
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    &.is-open {
      display: block;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li a {
        color: var(--text);
      }
    }
  }
}

.content {
  grid-area: content;
  padding: 2rem;
  background-color: var(--divider);
}

footer {
  grid-area: footer;
  padding: 2rem;
  background-color: var(--dark-gray);
  font-size: 1.8rem;
  text-align: center;
  color: var(--divider);
}
